.container  {
  display: flex;
  height: 48px;
  
}
.leftSide, .rightSide {
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.leftSide span, 
.rightSide span {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 5px;

}
.buttonTransparent {
  background-color: rgba(0,0,0, .1);
}

.centerSide {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 24px;
  font-weight: 600;
  color: '#1b1b1b';
}
.subtitle {
  font-size: 13px;
  font-size: 400;
  color: '#6a7d8ba';
}
